:root {
  --font-default: 'Abhaya Libre', serif;
  --color-primary: rgb(180, 221, 145);
  --color-secondary: rgba(245, 255, 239, 0.884);
  --color-app-background: rgb(243, 243, 243);
  --color-border: rgb(230, 230, 230);
  --color-warning: rgb(255, 242, 242);
}

body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-default);
}

* {
  box-sizing: border-box;
}
